[Desktop Entry]
Categories=Development;
Comment=Supercharge your API workflow
Exec=/opt/Postman/Postman
Icon=/opt/Postman/app/resources/app/assets/icon.png
Name=Postman
Terminal=false
Type=Application
Version=1.0